.App {
  text-align: center;
}

.facet-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.facet-config {
  display: grid;
  grid-template-columns: auto auto;
}

.facet-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-gap: 10px;
}